.container { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.range-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

.tad-margin {
  margin-left: 2em;
  margin-right: 2em;
}